# Node Modules
node_modules/
.pnp/
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pnpm store directory
.pnpm-store/

# Build directories
dist/
build/
.esbuild/

# Vite build cache
.vite/

# Turborepo cache and outputs
.turbo/
out/

# TypeScript
*.tsbuildinfo

# Test outputs
coverage/
.vitest/
jest/
jest-test-results.json

# Vscode and JetBrains IDEs
.vscode/
.idea/

# MacOS and Linux system files
.DS_Store
*.swp

# Lint and prettier cache
eslintcache
.pre
